body {
			margin: 0;
			padding: 0;
            background-color:rgb(184, 184, 184);
		}

		.container {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		height: 100vh;

	}

	form input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px;
        font-size: 16px;
      }
      
      form button[type="submit"] {
        padding: 12px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-left: -5px;
        cursor: pointer;
      }
      
      form button[type="submit"]:hover {
        background-color: #555;
      }
      
      form input[type="text"]:focus {
        outline: none;
        border: 2px solid #555;
      }
      

	.categories {

        font-family: Arial, Helvetica, sans-serif;
		padding: 2px;
		border-radius: 5px;
		margin-right: 515px;
        margin-top:920px;
		width: 300px;
        position: relative;
	}

    .categories a{
        text-decoration: none;
    }

	.categories h2 {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.categories ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.categories ul li {
		margin-bottom: 5px;
		padding: 5px 10px;
		border-radius: 5px;
		background-color: #ffffff;
        color: #555555;
        border: none;
        cursor: pointer;
	}

	.categories ul li:hover {
		background-color: #cccccc;
	}

	.categories ul li.active {
		background-color: #999999;
		color: #ffffff;
	}
