@font-face{font-family:'Proxima Nova';font-weight:300;font-style:normal;font-display:swap;src:url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2) format("woff2"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff) format("woff"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.ttf) format("truetype")}@font-face{font-family:'Proxima Nova';font-weight:400;font-style:normal;font-display:swap;src:url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff2) format("woff2"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff) format("woff"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.ttf) format("truetype")}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Proxima Nova'; }
a {
  text-decoration: none;
}
html{
  height: 100%;
}
.imagem {
  background: rgb(82,224,255) fixed;
  background: -moz-linear-gradient(82deg, rgba(82,224,255,1) 0%, rgba(3,38,137,1) 100%);
  background: -webkit-linear-gradient(82deg, rgba(82,224,255,1) 0%, rgba(3,38,137,1) 100%);
  background: linear-gradient(82deg, rgba(82,224,255,1) 0%, rgba(3,38,137,1) 100%);
  display: flex;
  justify-content: center;  
} .bemVindo{
  color: white;
}
.bemVindo h1{
  font-size: 40px;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin-top: 40px;
}

.formLogin {
  margin: 2em;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30em;
  border-radius: 0.5em;
  padding: 2em;
  justify-content: center;
}

.bonito {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.botao{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  transition: 0.2s;
}

 .botao:hover {
  background-color: #0062cc;
}
.criar-conta{
  background-color: inherit;
  color: #007bff;
  font-weight: 700;
}
.criar-conta:hover{
  background-color: #a3cfff;
}
.cabecalho{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 2em;
}

.bloco{
  display: block;
  background-color: purple;
  color: white;
  padding: 0.2em;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pesquisa{
  width: 100% ;
  height: 100%;
  padding: 0.6em;
  font-size: 15px;
}
.sub{
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.display-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
  gap: 10px;
}
.row-wrap{
  flex-flow: row wrap ;
  justify-content: space-evenly ;
  gap: 0.3rem;
}
.lista-admin{padding-inline: 2em;}
.a-livro{
  padding: 0;
  margin: 0;
  transition: 0.4s;
  display: inherit;
  height: min-content;
  position: relative;
}
.a-livro:hover{
  filter: brightness(60%);
}

.nowrap{
  white-space:  nowrap;
}
.centro{
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.4s; 
}
.categorias-link a{
  color: gray;
}
.categorias-link a{
  text-decoration: none;
  text-decoration: underline;
}

.label{
    color: #888;
}
.livro-descricao{
  width: 500px;
}
.button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
  transform: translateY(1px);
}
.input-field {
  margin-bottom: 10px;
}

.input-field label {
  display: block;
  font-weight: bold;
}

.input-field input[type="text"],
.input-field input[type="email"] {
  width: 65%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-field input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-field input[type="submit"]:hover {
  background-color: #45a049;
}

.input-field input[type="submit"]:active {
  background-color: #3e8e41;
  transform: translateY(1px);
}
