@font-face{font-family:'Proxima Nova';font-weight:300;font-style:normal;font-display:swap;src:url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2) format("woff2"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff) format("woff"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.ttf) format("truetype")}@font-face{font-family:'Proxima Nova';font-weight:400;font-style:normal;font-display:swap;src:url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff2) format("woff2"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff) format("woff"),url(https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.ttf) format("truetype")}
* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Proxima Nova'; }
a {
  text-decoration: none;
}
#lo {
  background-image: url("../images/fundo.png");
  background-repeat: no-repeat;

}
.imagem {
  background-image: url("../images/fundo.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;  
} .bemVindo{
  color: white;
}
.bemVindo h1{
  font-size: 40px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin-top: 40px;
}

.formLogin {
  margin: 2em;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30em;
  border-radius: 0.5em;
  padding: 2em;
  justify-content: center;
}

.bonito {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="submit"] , .botao{
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  transition: 0.2s;
}

input[type="submit"]:hover , .botao:hover {
  background-color: #0062cc;
}
.criar-conta{
  background-color: inherit;
  color: #007bff;
  font-weight: 700;
}
.criar-conta:hover{
  background-color: #a3cfff;
}
