/* Import Google font - Poppins */

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.fundo {
  position: relative; 
  background-color: #00cd9d;
  background-image: url("../fundo5.png");
  background-repeat: no-repeat; 
  background-size: cover; 
}
.wrappere{
  display: flex;
}
/* CSS para estilizar o HTML */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin-top: 40px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bonito {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0062cc;
}
.imagem{
  background-image: url('../images/fundo.png');
}
.formLogin{
  background-color: white;
  width: 20%;
  border-radius: 2em;
  padding: 2em;
}